@charset "utf-8";
@import url( ./bootstrap.css );

.table-bordered {border: 1px solid #ddd;border-collapse: separate;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;max-width: 100%;width:100%}

label.sound_only, strong.sound_only{display:none}

@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

.bootstrap table tr td {font-size:14px}
.anchor {
margin: 0 0 10px;
padding: 0;
zoom: 1;
}
.anchor:after {
display: block;
visibility: hidden;
clear: both;
content: "";
}
.anchor li {
float: left;
margin-left: -1px;
list-style: none;
}
.anchor a {
display: inline-block;
padding: 5px 10px;
border: 1px solid #c8ced1;
background: #d6dde1;
text-decoration: none;
}

.btn_confirm {
margin: 20px 20px 10px;text-align:center;
}

.frm_info {
display: block;
padding: 0 0 5px;
color: #5b747e;
}

/* 페이지 내 카운트 */
.local_ov {min-width:960px}

.local_ov01 {position:relative;margin:30px 0 10px;padding:10px 20px;border-bottom:1px solid #e9e9e9;background:#f2f5f9}
.local_ov01 .ov_listall {display:inline-block;margin:0 5px 0 0;padding:0 10px 0 0;border-right:1px solid #ccc}

/* 테이블 */
table {clear:both;width:100%;border-collapse:collapse;border-spacing:0}
table caption {height:0;font-size:0;line-height:0;overflow:hidden}
tbody td {border:1px solid #ececec}
tfoot th, tfoot td {padding:10px 0;border:1px solid #c1d1d5;background:#d7e0e2}
tfoot th {}
tfoot td {font-weight:bold;text-align:center}

.tbl_wrap {margin:0 0 10px;padding:0 20px}

/* thead 한 줄 테이블 */
.tbl_head01 {}
.tbl_head01 table {clear:both;width:100%;border-collapse:collapse;border-spacing:0}
.tbl_head01 thead th {padding:10px 0;border:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;letter-spacing:-0.1em}
.tbl_head01 thead input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 thead a {color:#383838;text-decoration:underline}
.tbl_head01 tbody th {}
.tbl_head01 tbody td {padding:10px 5px;line-height:1.4em;word-break:break-all}

/* thead 두 줄 테이블 */
.tbl_head02 {}
.tbl_head02 table {clear:both;width:100%;border-collapse:collapse;border-spacing:0}
.tbl_head02 thead th {padding:5px 0;border:1px solid #d1dee2;background:#e5ecef;color:#383838;font-size:0.95em;letter-spacing:-0.1em}
.tbl_head02 thead input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 thead a {color:#383838;text-decoration:underline}
.tbl_head02 tbody th {}
.tbl_head02 tbody td {padding:5px 3px;line-height:1.4em;word-break:break-all}

/* 폼 테이블 */
.tbl_frm01 th {padding:0;border-top:1px solid #ececec;border-bottom:1px solid #ececec;text-align:left}
.tbl_frm01 td {padding:10px 5px;border-right:0;border-left:0}
.tbl_frm01 textarea {width:99%;height:150px}
.tbl_frm01 #captcha {margin:0;padding:0;border:0;background:transparent}
.tbl_frm01 #captcha input {margin-left:5px;text-align:center}

/* 자료 없는 목록 */
.empty_table {padding:100px 0 !important;text-align:center}
.empty_list {padding:20px 0 !important;text-align:center}

/* 테이블 그리드 */
.grid_1 {width:50px}
.grid_2 {width:100px}
.grid_3 {width:150px}
.grid_4 {width:200px}
.grid_5 {width:250px}
.grid_6 {width:300px}
.grid_7 {width:350px}
.grid_8 {width:400px}
.grid_9 {width:450px}
.grid_10 {width:500px}
.grid_11 {width:550px}
.grid_12 {width:600px}
.grid_13 {width:650px}
.grid_14 {width:700px}
.grid_15 {width:750px}
.grid_16 {width:800px}
.grid_17 {width:850px}
.grid_18 {width:900px}

.local_desc01 {margin: 0 20px 10px 0px;padding: 10px 20px 0;min-width: 920px;border: 1px solid #f2f2f2;background: #f9f9f9;}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

/* 페이징 */
.pg_wrap {clear:both;margin:0 0 20px;padding:20px 0 0;text-align:center}
.pg {}
.pg_page, .pg_current {display:inline-block;padding:0 8px;color:#000;letter-spacing:0;line-height:2.2em;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page {background:#e4eaec;text-decoration:none}
.pg_start, .pg_prev {/* 이전 */}
.pg_end, .pg_next {/* 다음 */}
.pg_current {display:inline-block;margin:0 4px 0 0;background:#333;color:#fff;font-weight:normal}


/* 사이드뷰 */
.sv_wrap {display:inline-block;position:relative;font-weight:normal;font-size:1em}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #383838}
.sv_wrap .sv a {display:inline-block;margin:0;padding:3px;width:94px;border-bottom:1px solid #383838;background:#111;color:#fff;text-decoration:none}
.sv_wrap .sv a:focus, .sv_wrap .sv a:hover {background:#393939}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto}
.sv_nojs .sv {display:block}

.bootstrap button.copy_shortcode{display:block;margin-top:7px}

.btn_add01{margin:5px 0 8px}
.btn_list01{margin:10px 0}
#fsearch.local_sch01{margin:2px 0 10px}
.g5_section_top{padding-top:12px}